
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import "variables.css";
@import "bigSlider.css";
@import "button.css";
@import "common.css";
@import "card.css";
@import "footer.css";
@import "animate.min.css";

@import "megaMenu.css";
@import "megaMenuMobile.css";

@import "navMenuDekstop.css";
@import "navMenuMobile.css";

@import "typo.css";
@import "form.css";
@import "onboard.css";
@import "map.css";

@import "notification.css";
@import "ProductDetails.css";
@import "cart.css";
@import "placeholder-loading.min.css";

@import "breadcrumb.css";
@import "responsive.css";
@import "toast.css";
@import "search.css";

body{
    background-color: white !important;
    padding-top:57px
}
.slick-prev:before, .slick-next:before{
    color:black
}
.accordion:after{
    display: none;
}

.accordion:hover, .accordion-header:hover, .accordion-item{
    border: none;
    background-color: rgba(10, 83, 190, 0.01);
}


.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
}

.searchBox{
    background-color: white !important;
    border: solid rgba(194, 194, 194, 0.78);
    border-width: 1px 0 1px 1px;
    border-radius: 8px 0px 0px 8px !important;
}